# data manipulation
numpy
pandas

# building the newtork
scipy
torch

# my pytorch-tcn fork
git+https://github.com/Hubert1225/pytorch-tcn@add-no-padding-option

# notebook
jupyterlab

# code formatting
black
